@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --texto: #fff;
    --cordeFundo: #017143;
    --corlink: #333;
    --branco: #fff;
}

.dark-mode:root {
    --texto: #333;
    --cordeFundo: #017143;
    --corlink: #fff;
    --branco: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--texto);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .logo img {
    position: relative;
    max-width: 80px;
}

header nav {
    position: relative;
    display: flex;
}

header nav a {
    display: inline-block;
    color: var(--corlink);
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}

section.conteudo {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

section.conteudo > .caixaTexto {
    position: relative;
    max-width: 600px;
}

section.conteudo > .caixaTexto h2{
    color:var(--corlink);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

section.conteudo > .caixaTexto h2 span{
    color: var(--cordeFundo);
    font-size: 1.2em;
    font-weight: 900;
}

section.conteudo > .caixaTexto p {
    color: var(--corlink);
}

section.conteudo > .caixaTexto a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: var(--branco);
    font-weight: 500;
    background-color: var(--cordeFundo);
    letter-spacing: 1px;
    border-radius: 40px;
    text-decoration: none;
}

section.conteudo > .caixaImagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

section.conteudo > .caixaImagem img {
    max-width: 340px;
}

section.conteudo > .thumb {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

section.conteudo > .thumb li { 
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

section.conteudo > .thumb li:hover {
    transform: translateY(-15px);
}

section.conteudo > .thumb li img{
    max-width: 60px;
}

section.conteudo > .redesSociais {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.conteudo > .redesSociais li {
    list-style: none;
}

section.conteudo > .redesSociais li a{
    margin: 5px 0;
    display: inline-block;
    transform: scale(0.6);
    filter: invert(1);
}

.circulo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--cordeFundo);
    clip-path: circle(620px at right 800px);
}

@media (max-width: 1000px) {
    body {
        padding: 20px 80px;
    }

    header  {
        padding: 20px 80px;
    }

    section.conteudo {
        flex-direction: column;
        margin-top: 100px;
    }

    section.conteudo > .caixaTexto {
        max-width: 100%;
    }

    section.conteudo > .caixaTexto h2 {
        font-size: 2.5em;
    }

    .circulo {
        clip-path: circle(500px at center bottom);
    }

    section.conteudo > .caixaImagem  {
        max-width: 100%;
        justify-content: center;
    }

    section.conteudo > .caixaImagem img {
        max-width: 300px;
        margin-bottom: 50px;
    }

    section.conteudo > .thumb li img {
        max-width: 40px;
        padding-top: 50px;
    }

    section.conteudo>.redesSociais {
        background-color: var(--cordeFundo);
        width: 50px;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    
    body {
        padding: 20px;
    }

    header {
        padding: 20px;
    }

    header > .logo img{
        max-width: 60px;
    }

    header nav {
        display: none;
    } 

    header > .menuHamburguer {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(assets/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 2;
    }

    header > .menuHamburguer.ativo {
        position: fixed;
        right: 20px;
        background: url(assets/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }

    header > nav.navegacaoHamburguer.ativo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--texto);
        z-index: 1;
    }

    header nav a {
        font-size: 1.5em;
        padding: 10px 0;
        margin: 5px 0;
    }

    section.conteudo>.redesSociais {
        margin-right: 60px;
        
    }
}